npm-debug.log
node_modules
node_modules/*
docs/*

.DS_Store
.*.sw[op]

*.mp4
*.mov

level-*
bundles/
bundle.css
bundle.js
bundle.js.map
build.css
build.js
build.html
coverage/
dump/
vendor/
report/

results.json
.idea/*
vjs.wiki
mocha.js
mocha.css
test-runner.html
.tern-project
resultlog.txt

isolate-*