// * {
//   // background-color: #eee;
//   // border-radius: 50%;
//   // padding: 10px;
//   width: 50px;
//   height: 30px;
//   // font-size: 10px;
//   // text-align: center;
//   // border:2px solid black;
//   // p {
//   //   display: table-cell;
//   //   vertical-align: middle;
//   // }
//   // // float:left;
//   display: inline-block;
// }

body {
  background-color: #333;
  color: white;
}

.titlex {
  font-size: 18px;
  border: none;
  width: 500px;
  border-bottom:1px solid blue;
}

.ref {
  margin-left: 5px;
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.button {
  background-color: #eee;
  border-radius: 20px;
  padding: 5px;
}

* {
  font-family: courier;
}

.connected {
  display: inline-block;
  width: 20px;
  height: 20px;
  &.ok {
    background-color: green;
  }
  &.no {
    background-color: red;
  }
}


html, body, .holder {
  height:100%;
}
